<div class="row">
  {{#each questionsList.questions as |question|}}
    <div class="col-md-6 text-center">
	  <div class="panel question">
	    {{#link-to 'view' question.id}}<div class="panel-heading"><h1>{{question.question}}</h1></div>{{/link-to}}
	    <div class="panel-body">
	      <button class="btn btn-danger" {{action "remove" question}}><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
	    </div>
	    <div class="panel-footer">By {{question.author}}</div>
	  </div>
	</div>
  {{else}}
    <div class="col-md-12">
	  <div class="panel question">
		<div class="panel-heading"><h2>Answer</h2></div>
		<div class="panel-body">You need to add questions.</div>
		<div class="panel-footer">By Admin</div>
	  </div>
	</div>
  {{/each}}
</div>