<div class="panel question">
  <div class="panel-heading"><h1>Add new quesiton</h1></div>
  <div class="panel-body">
      <div class="form-group">
        <label for="question">Question</label>
        {{input value=question class="form-control" id="question"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author class="form-control" id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{tinymce-editor options=options id="moreinfo" class="form-control" value=moreinfo}}
      </div>
  </div>
  <div class="panel-footer"><button class="btn btn-success" {{action 'save'}}>Add new question</button></div>
</div>