<div class="row blog">
    <div class="col-md-12">
      <h1>{{model.question}}</h1>
      <hr />
      {{{model.moreinfo}}}
      <hr />
      <h5>{{model.author}}</h5>
    </div>
</div>

<div id="answers" class="row">
  <h3>Answers</h3>
</div>
